@import "src/scss/variables";

:host {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $card-bg;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: $card-header-bg;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 10px 15px;
}
