<div class="container signup-card-container">
    <app-card class="signin-card">
        <div slot="title">Login to wallet</div>
        <div slot="body">

            <mat-form-field class="w-100">
                <mat-label>Mnemonic key or Seed</mat-label>
                <textarea [(ngModel)]="loginStr" matInput></textarea>
            </mat-form-field>

            <div class="generate-wallet">
                <button (click)="login()"
                        mat-raised-button
                        color="primary"
                        class="w-100">
                    Login
                </button>
            </div>

        </div>
    </app-card>
</div>
